body{
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

a { text-decoration: none; }

#nav {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#nav ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: transparent;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
  }

.navitem {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100px;
    padding: 20px;
  }
