body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #677788;
    font-size: 14px;
    line-height: normal;
}

h1 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    padding: 0; 
    margin: 0;
}

p {
    font-weight: 500;
    font-size: 16px;
    padding: 0; 
    margin: 0;
}

h2 {
    color: #000;
    font-size: 26px;
    font-weight: 700;
    padding: 0; 
    margin: 0;
}

h3 {
    color: #5F6368;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 0; 
    margin: 0;
}

ul {list-style-type: none;}

.button {
    display: flex;
    padding: 15px 25px;
    align-items: center;
    gap: 8px;
    border-width: 0;
    border-radius: 30px;
    background: #2476FF;
}

#btntext {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    max-width: 600px;
}

.header {
    display: flex;
    height: 86px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

    .nav{
        display: flex;
        padding: 6px 14px;
        align-items: center;
        gap: 30px;
    }

    a:hover { color:#2476FF;}

    .linktext {
        color: #677788;
        text-decoration: none;
    }

.hero {
    display: flex;
    max-width: 100%;
    padding: 40px 30px 0px 30px;
    gap: 10px;
}

    .left {
        display: flex;
        min-width: 50%;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
    }

        .toptext {
            display: flex;          
            flex-direction: column;
            align-items: flex-start;
            gap: 11px;
            max-width: 70%;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 24px;
            align-self: stretch;
        }

        .learnmore {
            color: #2476FF;
            text-decoration: none;
            font-weight: 700;
        }
    .right {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
            "a b . c"
            "d . e ."
            ". f . g";
        height: 406px;
        width: 100%;
        gap: 10px;
    }

        .a {
            grid-area: a;
            align-self: start;
            justify-self: right;
        }

        .b {
            grid-area: b;
            align-self: start;
            justify-self: right;
        }

        .c {
            grid-area: c;
            align-self: start;
            justify-self: right;
        }

        .d {
            grid-area: d;
            align-self: center;
            justify-self: center;
        }

        .e {
            grid-area: e;
            align-self: center;
            justify-self: left;
        }

        .f {
            grid-area: f;
            align-self: start;
            justify-self: center;
        }

        .g {
            grid-area: g;
            align-self: center;
            justify-self: left;
        }

        .logo {
            width: 90%;
            padding: 10px;
            align-self: center;
        }

        .logobg {
            display: flex;
            width: 40px;
            height: 40px;
            padding: 10px;
            justify-content: center;
            border-radius: 60px;
            background: #FFF;
            box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
        }

        .logo2 {
            width: 80%;
            padding: 16px;
            align-self: center;
        }

        .logobg2 {
            display: flex;
            width: 60px;
            height: 60px;
            padding: 10px;
            justify-content: center;
            border-radius: 60px;
            background: #FFF;
            box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
        }

.key-benefits {
    display: flex;
    padding: 120px 0px 80px 0px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

    .benefit-list {
        display: flex;
        padding: 10px 30px;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        height: auto;
    }

    .benefit-item {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #FFF;
        background: #FFF;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .item-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
    }

    .item-icon {
        width: 50px;
        height: 50px;
    }

    .top-part {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
    }

    .status {
        display: flex;
        padding: 4px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 15px;
        background: #01C9A7;
        color: #FFF;
    }

.banner {
    display: flex;
    margin: 0px 30px 80px 30px;
    align-items: flex-start;
    gap: 10px;
    height: 450px;
    background-color: rgba(211,211,211,0.15);
}

    .leftpart {
        display: flex;
        padding: 10px 30px;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 26px;
        align-self: stretch;
    }

    .rightpart {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: stretch;
        gap: 10px;
        flex: 1 0 0;
    }

    .bannerimg1 {
        max-height: 353px;
    }

.whyfront {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.bulletslist {
    display: flex;
    padding: 0px 34px;
    align-items: flex-start;
    align-self: stretch;
}

    .bullet {
        display: flex;
        padding: 26px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        display: flex;
        flex: 1 0 0;
    }

.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding-bottom: 80px;
}

    .brandslist {
        display: flex;
        height: 59px;
        padding: 0px 30px;
        align-items: space-between;
        align-self: stretch;
    }

    .brandsicon {
        height: 40px;
        flex: 1 0 0;
    }

.pricing {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}
    .pricingtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .plansfeatures {
        display: flex;
        padding: 0px 44px;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
    }

        .plan {
            display: flex;
            width: 30%;
            padding: 40px;
            gap: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border: 1px solid #FFF;
            background: #FFF;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
        }

        .planheader{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            gap: 30px;
        }

        .planprice {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 7px;
            width: auto;
            height: auto;
            padding: 0; 
            margin: 0;
        }

        .plandivider {
            display: flex;
            height: 1px;
            align-self: stretch;
            background: #8D8D8D;
        }

        .planfooter{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }