body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #677788;
    font-size: 14px;
    line-height: normal;
}

.top-section {
    width: 100%;
}

#frontlogo {
    width: 154.9px;
    height: 46.1px;
}

.button {
    display: flex;
    padding: 15px 25px;
    align-items: flex-start;
    gap: 20px;
    border-width: 0;
    border-radius: 30px;
    background: #2476FF;
}

#btntext {
    color: #FFF;
}

.text {
    color: #677788;
    text-decoration: none;
}

a:hover { color:#2476FF;}

ul {list-style-type: none;}

.header {
    display: flex;
    height: 86px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    padding: 6px 14px;
    align-items: center;
    gap: 30px;
}
